<a href="https://colab.research.google.com/github/DenMantm/colab/blob/main/examples/M1_2_2_Descriptive_and_Inferential_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Descriptive vs Inferential Statistics

 

**Examples** 

We are going to read in a small dataset that will incorporate the heights of 7 students. 

The first thing we will do is import pandas and numpy. Both these libraries will be used throughout the course.

**Pandas** is a really useful way of working with dataframes. It can be invaluable when looping through datasets as with a few quick moves, we can extract valuable information without a lot of for loops and if statements. 

**Numpy** is great for matrix or vector algebra and will improve overall processing efficiency when dealing with arrays/matrices.

In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline

Now we want to create a pandas dataframe. We will then produce some very basic descriptive statistics.

In [ ]:
# Let's build a data set
df = pd.DataFrame([
 { 'name': 'Student 1','Height': 1.7 } ,
 { 'name': 'Student 2', 'Height': 1.7 },
 { 'name': 'Student 3', 'Height': 1.9 },
 { 'name': 'Student 4', 'Height': 1.5 },
 { 'name': 'Student 5', 'Height': 1.6 },
 { 'name': 'Student 6', 'Height': 1.6 },
 { 'name': 'Student 7', 'Height': 1.700 }    
])
df

        name  Height
0  Student 1     1.7
1  Student 2     1.7
2  Student 3     1.9
3  Student 4     1.5
4  Student 5     1.6
5  Student 6     1.6
6  Student 7     1.7

In [ ]:
print('The average height is:',df['Height'].mean())
print('The median height is:',df['Height'].median())
print('The mode height is: ',df['Height'].mode())

The average height is: 1.6714285714285713
The median height is: 1.7
The mode height is:  0    1.7
dtype: float64

When you finish this step, go back to the next step on FutureLearn.